.zig-cache/
# zig-out/
zig-out/bin/Content/Fonts/
# include/spirv/
# include/spirv_reflect/
# include/sqlite3/
# include/stb/
# include/steam/
# include/steam_C/
# include/UUID/
include/vk_video/
include/vma/
include/vulkan/
.vscode/
.VSCodeCounter/
test*.zig
testFeature/
dependencies/tracy/
dependencies/SDL3/build
dependencies/SDL3/install/include
dependencies/SDL3/install/share
dependencies/blake3/c/
cmake/
pkgconfig/
trace/
windbg/
build/
*.rdi
*.pdb
*.exe
*.dll
