.zig-cache/
zig-out/bin/Content/Fonts/
.vscode/
.VSCodeCounter/
test*.zig
testFeature/
dependencies/tracy/
dependencies/SDL3/build
dependencies/SDL3/install/include
dependencies/SDL3/install/share
dependencies/blake3/c/
dependencies/libgit2/build
dependencies/libgit2/install/include
cmake/
pkgconfig/
trace/
windbg/
build/
*.rdi
*.pdb
*.exe
*.dll
pipeline.txt
shaders.txt
sampler.txt
config/
